.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ball {
  background-color: black;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  text-align: center;
}

.question {
  font-size: 0.75rem;
  color: lightgrey;
}

.answer {
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 0.5rem;
  color: aqua;
}
